main {
  display: grid;
  grid-template-columns: 1fr 30ch;
  gap: 1rem;
}

.planted {
  display: grid;
  list-style-type: none;
  border: 0.25px solid black;
  border-radius: 10px;
}

figure {
  height: 75px;
}
.plant-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1ch;
  padding: 2rem;
}

.cart-items {
  position: absolute;
  right: 0;
  top: 0;
  width: 30ch;
  padding: 2ch;
  /* display: grid;
grid-column: 3 / 4; */
}

.inCart1 {
  display: grid;
  gap: 1 rem;
}
